@import '~bootstrap/scss/bootstrap';

.container {
  height: 70vmin;
  margin: auto;
  width: 70vmin;
}

.border {
  width: 70px; height: 70px; border: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 35px;
  margin: 0;
  padding: 0;
  background-color: yellow;
  cursor: pointer;
  }

.square{
display: block
}

  .cell:nth-child(3n) {
  border-right: 0;
  }

  .cell:nth-child(-n + 3) {
  border-top: 0;
  }

.success {
  color: green;
}

.failure {
  color: red;
}
